.Profilediv {
    background-color: #F8F8F8;
}

.Profilepicture {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    margin-top: 10px;
    border: 1px solid gray;
}

.Addaphoto {
    margin-top: 20px;
    height: 40px;
    width: 40%;
    border-radius: 5px;
    font-size: 15px;
}

.Infobox {
    width: 85%;
    margin: 2px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #57BDE1;
    background-color: #F1F1F1;
}

.Tutorsubjectbox {
    text-align: left;
    margin: 10px;
}

.Profilename {
    font-size: 22px;
    font-weight: bold;
}

.Profiledescriptionbox {
    margin: 15px 10px;
    text-align: left;
}

.Studentprofiledescriptionbox {
    margin: 15px 10px;
}

.Profiledescriptions {
    font-weight: bold;
}

.Tutordescriptiondisplay {
    margin: 0px;
}

.Profilesubjectnames {
    margin: 2px 0px;
}

@media (min-width: 750px) {
    .Infobox {
        margin-top: 10px;
    }
    .Profilepicture {
        height: 50%;
        width: 50%;
    }
}

@media(min-width: 1050px) {
    .Profilediv {
        height: 110vh;
        background-image: url('https://s3-us-west-1.amazonaws.com/webucationbucket/board-2167844_1920.jpg');
        background-repeat: no-repeat;
    }
    .Studentprofilediv {
        height: 100vh;
        background-image: url('https://s3-us-west-1.amazonaws.com/webucationbucket/board-2167844_1920.jpg');
        background-repeat: no-repeat;
    }
    .Profilecomputerviewdiv {
        width: 60%;
        margin-top: 10px;
        padding-bottom: 10px;
        display: inline-block;
        border: 1px solid #57BDE1;
        border-radius: 5px;
        background-color: #F1F1F1;
    }
    .Studentprofilecomputerviewdiv {
        width: 60%;
        margin-top: 8%;
        padding-bottom: 10px;
        display: inline-block;
        border: 1px solid #57BDE1;
        border-radius: 5px;
        background-color: #F1F1F1;
    }
    .Infobox {
        border: none;
        background-color: none;
    }
    .Profilepicture {
        height: 200px;
        width: 200px;
    }
    .Profiledescriptionbox {
        margin: 8px 10px;
    }
    .Profilesubjectnames {
        margin: 0px;
    }
}