.Profilebuttons {
    height: 40px;
    width: 75%;
    border-radius: 5px;
}

.Profileinputs {
    height: 40px;
    width: 74%;
    border-radius: 5px;
    font-size: 15px;
}

.Tutordescriptionbox {
    height: 75px;
    width: 74%;
    border-radius: 5px;
    font-size: 15px;
}