.Profilebuttons {
    height: 40px;
    width: 86%;
    border-radius: 5px;
    font-size: 16px;
}

.Profileprompts {
    text-align: left;    
    margin-left: 9%;
    font-weight: bold;
}

.Profileinputs {
    height: 40px;
    width: 84%;
    border-radius: 5px;
    font-size: 15px;
}

.Tutordescriptionbox {
    height: 75px;
    width: 84%;
    border-radius: 5px;
    font-size: 15px;
}

@media(min-width: 1050px) {
    .Profileinputs {
        width: 82%;
    }
    .Tutordescriptionbox {
        width: 82%;
    }
    .Profilebuttons {
        height: 25px;
        width: 40%;
        font-weight: 500;
    }
}