.Tutorviewdiv {
    height: 100vh;
    background-color: #F8F8F8;
}

@media (min-width: 1050px) {
    .Tutorviewdiv {
        background-image: url('https://s3-us-west-1.amazonaws.com/webucationbucket/board-2167844_1920.jpg');
        background-repeat: no-repeat;
    }
}