.Addnewsubjectdiv {
    background-color: #F8F8F8;
}

.Registertutordiv {
    padding-bottom: 25px;
    background-color: #F8F8F8;
}

.Registerdescriptionbox {
    height: 75px;
    width: 92%;
    border-radius: 5px;
    font-size: 17px;
}

.Subjectbuttons {
    height: 55px;
    width: 80%;
    border-radius: 5px;
    font-size: 17px;
}

@media (min-width: 1050px) {
    .Registercomputerview {
        width: 75%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: inline-block;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: #F1F1F1;
    }
}