.Registertutordiv {
    margin-bottom: 25px;
}

.Registerdescriptionbox {
    height: 75px;
    width: 92%;
    border-radius: 5px;
}

.Subjectbuttons {
    height: 55px;
    width: 80%;
    border-radius: 5px;
    font-size: 17px;
}

