.Authprompts {
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 4%;
    font-weight: bold;
    text-align: left;
}

.Authinputs {
    height: 50px;
    width: 92%;
    border-radius: 5px;
    font-size: 17px;
}

.Studentloginbox {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.Tutorloginbox {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-top: 1px solid gray;
    background-color: #F8F8F8;
}

.Authbuttons {
    height: 55px;
    width: 94%;
    margin-top: 25px;
    border-radius: 5px;
    font-size: 17px;
}

.Loginlinks {
    margin: 0px;
    padding-top: 10px;
}