.App {
  height: 100vh;
  text-align: center;
  background-color: #F8F8F8;
}

h1 {
  margin: 0px;
  padding-top: 15px;
  color: #333334;
}

h3 {
  color: #333334;
}

p {
  color: #333334;
}

input {
  border: 1px solid #C2C2C2;
}

textarea {
  border: 1px solid #C2C2C2;
}

button {
  font-weight: bold;
  color: white;
  background-color: #57BDE1;
}