.Socketsdiv {
    background-color: #F8F8F8;
}

.Messagesdiv {
    width: 95%;
    margin-top: 5px;
    padding-top: 3px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #F1F1F1;
}

.Usermessagedisplay {
    display: flex;
    justify-content: flex-end;
}

.Notusermessagedisplay {
    display: flex;
    justify-content: flex-start;
}

.Usermessage {
    min-height: 20px;
    max-width: 60%;
    margin-top: 5px;
    margin-right: 5px;
}

.Notusermessage {
    min-height: 20px;
    max-width: 60%;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

.Usermessagebox {
    min-height: 20px;
    margin: 0px;
    padding: 6px 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color: #57BDE1;
    word-wrap: normal;
    text-align: left;
}

.Notusermessagebox {
    min-height: 20px;
    padding: 6px 8px;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    background-color: #858585;
}

.Socketsinputdiv {
    margin-top: 5px;
}

.Messageinput {
    height: 30px;
    width: 82%;
    font-size: 15px;
    border-radius: 5px 0px 0px 5px;
}

.Messagebutton {
    height: 34px;
    margin-top: 1px;
    width: 16%;
    font-size: 15px;
    border-radius: 0px 5px 5px 0px;
}

@media (min-width: 750px) {
    .Messagesdiv {
        width: 85%;
    }
    .Messagebutton {
        width: 17%;
    }
}

@media(min-width: 1050px) {
    .Socketsdiv {
        height: 100vh;
        background-image: url('https://s3-us-west-1.amazonaws.com/webucationbucket/board-2167844_1920.jpg');
        background-repeat: no-repeat;
    }
    .Socketssendamessage {
        color: #F8F8F8;
    }
    .Messagesdiv {
        width: 75%;
    }
}