.Navbar {
    height: 35px;
    background-color: #F1F1F1;
    border-bottom: 1px solid gray;
}

.Authnavdiv {
    height: 35px;
    text-align: left;
    background-color: #F1F1F1;
    border-bottom: 1px solid gray;
}

.Navdiv {
    margin: 0px 7px;
    display: flex;
    justify-content: space-between;
    
}

.Websitenamediv {    
    width: 175px;
}

.Linkdiv {
    margin-top: 8px;
    width: 175px;
    display: flex;
    justify-content: space-around;
}

.Websitename {
    margin-top: 2px;
    font-size: 25px;
    font-weight: bold;
    color: #333334;
}

.Authnavtext {
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #333334;
}

.Navlinks {
    color: #333334;
}

.Biglinks {
    display: none;
}